/* app-container {
  display: grid;
  grid-template-columns: [left-ui] 40px [content] auto [right-ui] 40px;
  grid-template-rows: [header] 100px [daily] 400px [named] 400px;
} */
html {
  font-family: Arial, Helvetica, sans-serif;
}

/**
 * Todo List Item
 */
.todo-item {
  height: 20px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid gray;
}
.todo-item button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
.todo-item input {
  width: 100%;
  display: none;
}
.todo-item.edited .text {
  display: none;
}
.todo-item.edited input {
  display: block;
}
.todo-item:hover {
  background-color: lightgray;
}
.todo-item:hover button {
  display: block;
}

/**
 * Todo List
 */
.todo-list {
  flex-basis: 14.2857142857%;
  height: 400px;
  padding: 10px;
}
.todo-list .todo-list-new {
  width: 100%;
}

/**
 * Named lists
 */
.content {
  display: flex;
}
.items {
  flex-grow: 2;
  display: flex;
}
.left-ui,
.right-ui {
  width: 50px;
}

/**
 * Day List
 */
.day-list {
  flex-basis: 14.2857142857%;
  height: 400px;
  padding: 10px;
}
.day-list .title {
  font: 30px bold Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.day-list .date {
  text-align: center;
  margin-bottom: 20px;
}
.day-list .day-list-add {
  width: 100%;
}
