body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}

/**
 * Button
 */

.btn {
  background: transparent;
  cursor: pointer;
  border: none;
}
.btn.disabled,
.btn[disabled] {
  cursor: auto;
}

/**
 * Todo List Item
 */
.todo-item {
  list-style: none;
  height: 20px;
  position: relative;
  transition: height 0.1s linear, padding-bottom 0.1s linear, padding-top 0.1s linear;
}

.todo-item button {
  display: none;
  position: absolute;
  background: transparent;
  top: -2px;
  right: -2px;
  z-index: 100;
}
.todo-item .text {
  overflow: hidden;
  padding: 2px;
  height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.todo-item input {
  width: 100%;
  font-size: 16px;
  height: 20px;
  padding: 0;
  vertical-align: -1px;
  margin-top: -2px;
  display: none;
  outline: none;
  border: none;
  padding: 2px;
  background: transparent;
}
/* Hover */
.todo-item:hover .text {
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  white-space: normal;
  background-color: lightgray;
  z-index: 100;
}
.todo-item:not(.is-done):hover button.todo-item-edit {
  display: block;
}
/* Done */
.todo-item.is-done:hover button.todo-item-remove {
  display: block;
}

.todo-item.is-done .text {
  text-decoration: line-through;
}
/* Edit */
.todo-item.is-edit .text {
  display: none;
}
.todo-item.is-edit input {
  display: inline;
}
.todo-item.is-edit button.todo-item-edit,
.todo-item.is-edit button.todo-item-remove,
.todo-item.is-edit:hover button.todo-item-edit,
.todo-item.is-edit:hover button.todo-item-remove {
  display: none;
}

/* Drag */
.todo-item.is-dropped {
  transition: none;
}
.todo-item.is-dragover-end:not(.is-drag) {
  height: 41px;
  padding-bottom: 21px;
}

.todo-item.is-dragover-start:not(.is-drag) {
  height: 41px;
  padding-top: 21px;
}

.todo-item.is-drag {
  border: 1px dashed gray;
  background: lightgray;
}

.todo-item.is-drag .text,
.todo-item.is-drag input,
.todo-item.is-drag button.todo-item-edit,
.todo-item.is-drag button.todo-item-remove,
.todo-item.is-drag:hover button.todo-item-edit,
.todo-item.is-drag:hover button.todo-item-remove {
  display: none;
}

/**
 * Todo lists container
 */
.todo-lists .header {
  padding: 10px;
  background-color: lightgray;
  display: flex;
}
.todo-lists .header .start {
  width: 50px;
  align-self: flex-start;
}
.todo-lists .header .center {
  width: calc(100% - 100px);
  display: flex;
  justify-content: center;
}
.todo-lists .header .center .todo-list-index {
  color: gray;
}
.todo-lists .header .center .todo-list-index.is-active {
  color: black;
}
.todo-lists .header .end {
  width: 50px;
  text-align: right;
  align-self: flex-start;
}
.todo-lists .header .toggle {
  transition: transform 0.2s ease-out;
  transform-origin: center;
  font-size: 20px;
  width: 30px;
  height: 30px;
}
.todo-lists .header .toggle.is-active {
  transform: rotate(180deg);
}
.todo-lists .header .add {
  font-size: 20px;
  width: 30px;
  height: 30px;
}
.todo-lists .content {
  display: flex;
}
.todo-lists .content.is-hidden {
  display: none;
}
.todo-lists .items-container {
  width: calc(100% - 100px);
  overflow: hidden;
}
.todo-lists .items-container .items {
  display: flex;
}
.todo-lists .items-container .items > .todo-list {
  width: calc(100% / 7);
}

.todo-lists .left-ui,
.todo-lists .right-ui {
  width: 50px;
}
.todo-lists .left-ui button,
.todo-lists .right-ui button {
  font-size: 30px;
  width: 50px;
  height: 50px;
}

/**
 * Todo list
 */
.todo-list {
  height: 400px;
  border-left: 1px solid gray;
  padding: 10px;
}
.todo-list:last-child {
  border-right: 1px solid gray;
}
.todo-list .todo-list-new {
  width: 100%;
}

.todo-list ol {
  margin: 0;
  padding: 0;
}

/**
 * Todo Items Container
 */

.todo-items-container {
  overflow-y: scroll;
  height: 300px;
  background-image: linear-gradient(#ccc 1px, transparent 1px);
  background-size: 20px 20px;
}

.todo-items-container input.new-item {
  width: 100%;
  border: none;
  font-size: 16px;
  background: transparent;
  outline: none;
  padding: 2px;
  margin-top: -1px;
}

/**
 * Daily List
 */
.daily-lists .items-container {
  border-right: 1px solid gray;
}
.daily-lists .items-container .items {
  width: 300%;
  margin-left: -100%;
}

.daily-lists .items-container .items.is-animating {
  transition: margin-left 0.2s ease-out;
}

.daily-lists .items-container .items > .todo-list {
  width: calc(100% / 21);
}

.day-list .title {
  font: 20px bold Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.day-list .date {
  text-align: center;
  margin-bottom: 20px;
}

/**
 * Named List
 */

.named-list .controls {
  display: grid;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  text-align: center;
  position: relative;
}
.named-list:hover .controls {
  opacity: 1;
}
.named-list .name {
  outline: none;
  font-size: 20px;
  border: 0;
  background: transparent;
  display: block;
  text-align: center;
  padding: 5px;
  width: 100%;
}
.named-list .controls .todo-item-remove {
  position: absolute;
  left: 0;
  top: 0;
}

.named-list .controls .todo-item-drag {
  display: inline-block;
}
